In [2]:
import requests
response = requests.get('http://localhost:4000/articles')
print(response.json())
articles = response.json()

[{'id': 2, 'title': 'Título 2', 'author': 'Jorge Amado', 'content': 'Tribunal', 'date': '2001-01-10T00:00:00.000Z', 'category': 'Criminal'}, {'id': 3, 'title': 'Título 3', 'author': 'Gilmar Mendes', 'content': 'A Constituição Federal', 'date': '2000-01-10T00:00:00.000Z', 'category': 'Civil'}, {'id': 1, 'title': 'Título 1', 'author': 'Jorge Amado', 'content': 'O Supremo Tribunal Federal', 'date': '1999-01-10T00:00:00.000Z', 'category': 'Civil'}]

In [4]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 9.5 MB/s eta 0:00:00:00:0100:01
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Collecting numpy>=1.21.0
  Downloading numpy-1.24.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.3/17.3 MB 8.9 MB/s eta 0:00:00:00:0100:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 KB 5.6 MB/s eta 0:00:0000:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/rodrigocqb/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.24.2 pandas-2.0.0 tzdata-2023.3

In [6]:
import pandas as pd

df = pd.DataFrame(articles)
df

,id,title,author,content,date,category
0,2,Título 2,Jorge Amado,Tribunal,2001-01-10T00:00:00.000Z,Criminal
1,3,Título 3,Gilmar Mendes,A Constituição Federal,2000-01-10T00:00:00.000Z,Civil
2,1,Título 1,Jorge Amado,O Supremo Tribunal Federal,1999-01-10T00:00:00.000Z,Civil

In [7]:
df['category'].value_counts()

category
Civil       2
Criminal    1
Name: count, dtype: int64

In [8]:
df['author'].value_counts()

author
Jorge Amado      2
Gilmar Mendes    1
Name: count, dtype: int64

In [10]:
media = pd.Series([len(text.split(' ')) for text in df['content']]).mean()

In [14]:
relatorio_csv = pd.concat([df['category'].value_counts(),
                           df['author'].value_counts(),
                           pd.Series(media)],axis=1)

relatorio_csv.columns = ['Artigos por categoria',
                         'Artigos por autor',
                         'Média de palavras por artigo']

index_new = list(relatorio_csv.index)
index_new[4] = 'Total'
index_new

relatorio_csv.index = index_new
relatorio_csv

,Artigos por categoria,Artigos por autor,Média de palavras por artigo
Civil,2.0,NaN,NaN
Criminal,1.0,NaN,NaN
Jorge Amado,NaN,2.0,NaN
Gilmar Mendes,NaN,1.0,NaN
Total,NaN,NaN,2.666667

In [15]:
relatorio_csv.to_csv('RELATORIO_CSV.csv')